.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.category-sport {
  background: var(--sport-color);
}

.category-ent {
  background: var(--ent-color);
}

.category-tech {
  background: var(--tech-color);
}

.category {
  display: inline-block;
  color: #f3f3f3;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.4rem 0.6rem;
  margin-bottom: 0.5rem;
  border-radius: 20px;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  background: var(--dark-color);
  color: #fff;
  padding: 0.5rem 1.5rem;
  border: none;
}

.btn-light {
  background: var(--light-color);
}

.btn-primary {
  background: var(--primary-color);
}
.btn-secondary {
  background: var(--secondary-color);
}

.btn:hover {
  opacity: 0.85;
}

.btn-block {
  display: block;
  width: 100%;
  align-items: center;
}
.card {
  background: #fff;
  padding: 1rem;
}

.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.bg-secondary {
  background: var(--secondary-color);
  color: #fff;
}

.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 1.5rem;
}
.p-3 {
  padding: 1.5rem;
}

.list li{
  padding: 0.5rem 0;
}

.list li a:hover {
  color: var(--primary-color) !important;
}